flow.json
[{"id":"ecf96e8.b35939","type":"tab","label":"Setup","disabled":false,"info":""},{"id":"8ee5a11b.01f91","type":"tab","label":"Overview","disabled":false,"info":""},{"id":"969a8a2d.cb6138","type":"ui_group","z":"","name":"KC-868-H8","tab":"c842efa0.b34e2","order":3,"disp":true,"width":"6","collapse":false},{"id":"c842efa0.b34e2","type":"ui_tab","name":"Overview","icon":"home","order":1,"disabled":false,"hidden":false},{"id":"1d381688.a38089","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#085f63","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#085f63","edited":true},"page-titlebar-backgroundColor":{"value":"#085f63","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0ea3aa","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#085f63","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"TAC Hub","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a8ece2fb.83f5e","type":"function","z":"8ee5a11b.01f91","name":"Relay1 On","func":"msg.payload = \"RELAY-SET-255,1,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":100,"wires":[["7f27411e.ecacd"]]},{"id":"cd1e70f1.c89e2","type":"function","z":"8ee5a11b.01f91","name":"Relay1 Off","func":"msg.payload = \"RELAY-SET-255,1,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":140,"wires":[["7f27411e.ecacd"]]},{"id":"8aaa31df.2678","type":"function","z":"8ee5a11b.01f91","name":"Relay2 On","func":"msg.payload = \"RELAY-SET-255,2,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":200,"wires":[["7f27411e.ecacd"]]},{"id":"6feade51.4d8e2","type":"function","z":"8ee5a11b.01f91","name":"Relay2 Off","func":"msg.payload = \"RELAY-SET-255,2,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":240,"wires":[["7f27411e.ecacd"]]},{"id":"e1176608.cedf08","type":"function","z":"8ee5a11b.01f91","name":"Relay3 On","func":"msg.payload = \"RELAY-SET-255,3,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":300,"wires":[["7f27411e.ecacd"]]},{"id":"693293d0.35a70c","type":"function","z":"8ee5a11b.01f91","name":"Relay3 Off","func":"msg.payload = \"RELAY-SET-255,3,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":340,"wires":[["7f27411e.ecacd"]]},{"id":"51b387b3.dab968","type":"comment","z":"ecf96e8.b35939","name":"Kincony H8","info":"","x":110,"y":60,"wires":[]},{"id":"a096866.06b7278","type":"link in","z":"ecf96e8.b35939","name":"KC868-H16B To Device","links":["7f27411e.ecacd","29fc595b.ade4f6","9fe7180.8cc51e8","9479a5f9.efb2f8","9c8f2db5.f1a68","12b764fd.d3223b","52b2299f.3f2ed8","cfd04bb.b96f0b8","72acdb9f.1efa24","db1082da.fc485","a29b28fe.988248","a5e12ae7.e63a18","a054ea52.56b378","4221436a.4b5efc","3d00ba03.c4f266","c1301ebd.b786e","34e3777f.94e268","ecb05e79.c6781","b8104d81.8feaa","9dd280cc.68f8e"],"x":655,"y":240,"wires":[["c272046e.7caaf8"]]},{"id":"fa1bbb43.48d6d8","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_1 Fb","links":["4e552c64.e6c584"],"x":1075,"y":560,"wires":[]},{"id":"7f27411e.ecacd","type":"link out","z":"8ee5a11b.01f91","name":"","links":["a096866.06b7278"],"x":1315,"y":500,"wires":[]},{"id":"cfacb495.506bd8","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 1","tooltip":"Turn On/Off Light 1","group":"969a8a2d.cb6138","order":1,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":120,"wires":[["bd4045a6.b104b8"]]},{"id":"8a9a6274.9904b","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 3","tooltip":"Turn On/Off Light 3","group":"969a8a2d.cb6138","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":320,"wires":[["e9a42b5c.296428"]]},{"id":"b599ade1.a919c","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 2","tooltip":"Turn On/Off Light 2","group":"969a8a2d.cb6138","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":220,"wires":[["faedc938.8b9688"]]},{"id":"dbeefdc9.fe6ce","type":"comment","z":"8ee5a11b.01f91","name":"Overview","info":"","x":420,"y":40,"wires":[]},{"id":"bd4045a6.b104b8","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":120,"wires":[["a8ece2fb.83f5e"],["cd1e70f1.c89e2"]]},{"id":"faedc938.8b9688","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":220,"wires":[["8aaa31df.2678"],["6feade51.4d8e2"]]},{"id":"e9a42b5c.296428","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":320,"wires":[["e1176608.cedf08"],["693293d0.35a70c"]]},{"id":"187b1617.4d80ba","type":"function","z":"8ee5a11b.01f91","name":"Relay4 On","func":"msg.payload = \"RELAY-SET-255,4,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":400,"wires":[["7f27411e.ecacd"]]},{"id":"db7d7655.68ea68","type":"function","z":"8ee5a11b.01f91","name":"Relay4 Off","func":"msg.payload = \"RELAY-SET-255,4,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":440,"wires":[["7f27411e.ecacd"]]},{"id":"8f9b1c99.aa9fb","type":"function","z":"8ee5a11b.01f91","name":"Relay5 On","func":"msg.payload = \"RELAY-SET-255,5,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":500,"wires":[["7f27411e.ecacd"]]},{"id":"8966ab9.d7bdd58","type":"function","z":"8ee5a11b.01f91","name":"Relay5 Off","func":"msg.payload = \"RELAY-SET-255,5,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":540,"wires":[["7f27411e.ecacd"]]},{"id":"f75b26e0.b4cb58","type":"function","z":"8ee5a11b.01f91","name":"Relay6 On","func":"msg.payload = \"RELAY-SET-255,6,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":600,"wires":[["7f27411e.ecacd"]]},{"id":"80e1cefe.d9192","type":"function","z":"8ee5a11b.01f91","name":"Relay6 Off","func":"msg.payload = \"RELAY-SET-255,6,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":640,"wires":[["7f27411e.ecacd"]]},{"id":"14f7cee.ea0e931","type":"function","z":"8ee5a11b.01f91","name":"Relay7 On","func":"msg.payload = \"RELAY-SET-255,7,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":700,"wires":[["7f27411e.ecacd"]]},{"id":"87b5be0c.aee3d","type":"function","z":"8ee5a11b.01f91","name":"Relay7 Off","func":"msg.payload = \"RELAY-SET-255,7,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":740,"wires":[["7f27411e.ecacd"]]},{"id":"f5fffae6.14f6b8","type":"status","z":"ecf96e8.b35939","name":"H8 status","scope":["dfa668de.41cdd8"],"x":100,"y":120,"wires":[["a35349a2.8f1558","f6e6fda7.49149"]]},{"id":"a35349a2.8f1558","type":"function","z":"ecf96e8.b35939","name":"H8 Status","func":"var input = msg.status.text;\nvar connectionStatus = input.split(\".\");\n\nif (connectionStatus [2] == \"connected\"){\n   msg.payload = \"RELAY-STATE-255\";\n} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["c272046e.7caaf8"]]},{"id":"4f70ae.c781af54","type":"debug","z":"ecf96e8.b35939","name":"From Device","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":360,"wires":[]},{"id":"b0f9fa28.1a2b48","type":"tcp in","z":"ecf96e8.b35939","name":"From KC-868-H8","server":"client","host":"192.168.50.55","port":"4196","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":100,"y":720,"wires":[["4f70ae.c781af54","73cdf937.745578"]]},{"id":"dfa668de.41cdd8","type":"tcp out","z":"ecf96e8.b35939","host":"192.168.50.55","port":"4196","beserver":"client","base64":false,"end":false,"name":"To KC-868-H8","x":1020,"y":140,"wires":[]},{"id":"2acb988b.fdb038","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_2 Fb","links":["74160c4d.42f8f4"],"x":1075,"y":600,"wires":[]},{"id":"c272046e.7caaf8","type":"delay","z":"ecf96e8.b35939","name":"","pauseType":"rate","timeout":"0.1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":830,"y":140,"wires":[["dfa668de.41cdd8"]]},{"id":"73cdf937.745578","type":"function","z":"ecf96e8.b35939","name":"D0 Processor","func":"var ack = msg.payload.match(/OK\\x00/g);\nvar words = msg.payload.split(\",\");\nvar D0 = context.get('storeD0')||null;\nvar outputMsgs = [];\n\nif (ack == \"OK\\x00\") {\n  if (words[0] === \"RELAY-SET_ALL-255\" || words[0] === \"RELAY-STATE-255\") {\n    if (words[1] != D0){\n      D0 = parseInt(words[1],10).toString(2).padStart(8,\"0\");\n      context.set('storeD0',D0);\n      let w = D0.length;\n      let i;\n      while (w > 0){\n        D0[w-1] == 1? i=true: i= false;\n        outputMsgs.push({\n        payload: i\n        });\n        w--;\n     }\n    } //end if D0\n    \n  } else if  (words[0] === \"RELAY-SET-255\" ){\n    let relay = words[1];\n    outputMsgs[relay-1] = words[2] == \"1\" ? {payload:true}: {payload:false};\n   } //end individual relay feedback\n\nreturn [\n        outputMsgs[0], \n        outputMsgs[1],\n        outputMsgs[2],\n        outputMsgs[3],\n        outputMsgs[4],\n        outputMsgs[5],\n        outputMsgs[6],\n        outputMsgs[7]\n        ];\n} // end feedback processor\n","outputs":8,"noerr":0,"initialize":"","finalize":"","x":500,"y":720,"wires":[["d90e379.50fcdc8","fa1bbb43.48d6d8"],["3e63f681.3f43ca","2acb988b.fdb038"],["1b1ae452.b8b5cc","c8e3e84a.762b08"],["3a117a08.eed026"],["a1227ea8.0008a"],["9129a414.a4b068"],["33a6ea08.26aa36"],["60571186.4fc6a"]]},{"id":"d90e379.50fcdc8","type":"debug","z":"ecf96e8.b35939","name":"D0 Relay 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":340,"wires":[]},{"id":"3e63f681.3f43ca","type":"debug","z":"ecf96e8.b35939","name":"D0 Relay 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":380,"wires":[]},{"id":"1b1ae452.b8b5cc","type":"debug","z":"ecf96e8.b35939","name":"D0 Relay 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":420,"wires":[]},{"id":"f6e6fda7.49149","type":"debug","z":"ecf96e8.b35939","name":"KC-868-H8 Status","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"status.text","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":60,"wires":[]},{"id":"c8e3e84a.762b08","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_3 Fb","links":["99e7f347.afb4b"],"x":1075,"y":640,"wires":[]},{"id":"3a117a08.eed026","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_4 Fb","links":["d63567aa.e57528"],"x":1075,"y":680,"wires":[]},{"id":"a1227ea8.0008a","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_5 Fb","links":["61775f3b.c6dd6"],"x":1075,"y":720,"wires":[]},{"id":"9129a414.a4b068","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_6 Fb","links":["58433dde.aa7aa4"],"x":1075,"y":760,"wires":[]},{"id":"33a6ea08.26aa36","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_7 Fb","links":["bb6fb704.fc2318"],"x":1075,"y":800,"wires":[]},{"id":"60571186.4fc6a","type":"link out","z":"ecf96e8.b35939","name":"H8-Relay_8 Fb","links":["ada7829d.694c7"],"x":1075,"y":840,"wires":[]},{"id":"1c188ea0.b6a161","type":"comment","z":"ecf96e8.b35939","name":"Relay 1-8 (D0)","info":"","x":1070,"y":500,"wires":[]},{"id":"4e552c64.e6c584","type":"link in","z":"8ee5a11b.01f91","name":"","links":["fa1bbb43.48d6d8"],"x":155,"y":120,"wires":[["cfacb495.506bd8"]]},{"id":"74160c4d.42f8f4","type":"link in","z":"8ee5a11b.01f91","name":"","links":["2acb988b.fdb038"],"x":155,"y":220,"wires":[["b599ade1.a919c"]]},{"id":"99e7f347.afb4b","type":"link in","z":"8ee5a11b.01f91","name":"","links":["c8e3e84a.762b08"],"x":155,"y":320,"wires":[["8a9a6274.9904b"]]},{"id":"73fc0b3c.a709c4","type":"function","z":"8ee5a11b.01f91","name":"Relay8 On","func":"msg.payload = \"RELAY-SET-255,8,1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":800,"wires":[["7f27411e.ecacd"]]},{"id":"fc8e5a2d.2f2028","type":"function","z":"8ee5a11b.01f91","name":"Relay8 Off","func":"msg.payload = \"RELAY-SET-255,8,0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":840,"wires":[["7f27411e.ecacd"]]},{"id":"522e6dbb.66c7e4","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 4","tooltip":"Turn On/Off Light 4","group":"969a8a2d.cb6138","order":4,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":420,"wires":[["c8d7fb6e.4fd628"]]},{"id":"4cfaf5c5.682f2c","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 6","tooltip":"Turn On/Off Light 6","group":"969a8a2d.cb6138","order":6,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":620,"wires":[["ff3e2790.21c808"]]},{"id":"3321665c.b8c14a","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 5","tooltip":"Turn On/Off Light 5","group":"969a8a2d.cb6138","order":5,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":520,"wires":[["83f006f0.89dc08"]]},{"id":"c8d7fb6e.4fd628","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":420,"wires":[["187b1617.4d80ba"],["db7d7655.68ea68"]]},{"id":"83f006f0.89dc08","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":520,"wires":[["8f9b1c99.aa9fb"],["8966ab9.d7bdd58"]]},{"id":"ff3e2790.21c808","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":620,"wires":[["f75b26e0.b4cb58"],["80e1cefe.d9192"]]},{"id":"87239a7e.7dfb98","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 8","tooltip":"Turn On/Off Light 8","group":"969a8a2d.cb6138","order":8,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":820,"wires":[["2ad66cb5.443454"]]},{"id":"595f0e43.2bbff","type":"ui_switch","z":"8ee5a11b.01f91","name":"","label":"Light 7","tooltip":"Turn On/Off Light 7","group":"969a8a2d.cb6138","order":7,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":390,"y":720,"wires":[["29bedff0.5a8b1"]]},{"id":"29bedff0.5a8b1","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":720,"wires":[["14f7cee.ea0e931"],["87b5be0c.aee3d"]]},{"id":"2ad66cb5.443454","type":"switch","z":"8ee5a11b.01f91","name":"switch","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":820,"wires":[["73fc0b3c.a709c4"],["fc8e5a2d.2f2028"]]},{"id":"d63567aa.e57528","type":"link in","z":"8ee5a11b.01f91","name":"","links":["3a117a08.eed026"],"x":155,"y":420,"wires":[["522e6dbb.66c7e4"]]},{"id":"61775f3b.c6dd6","type":"link in","z":"8ee5a11b.01f91","name":"","links":["a1227ea8.0008a"],"x":155,"y":520,"wires":[["3321665c.b8c14a"]]},{"id":"58433dde.aa7aa4","type":"link in","z":"8ee5a11b.01f91","name":"","links":["9129a414.a4b068"],"x":155,"y":620,"wires":[["4cfaf5c5.682f2c"]]},{"id":"bb6fb704.fc2318","type":"link in","z":"8ee5a11b.01f91","name":"","links":["33a6ea08.26aa36"],"x":155,"y":720,"wires":[["595f0e43.2bbff"]]},{"id":"ada7829d.694c7","type":"link in","z":"8ee5a11b.01f91","name":"","links":["60571186.4fc6a"],"x":155,"y":820,"wires":[["87239a7e.7dfb98"]]}]